
.leaflet-container {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 56px);
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-content-wrapper {
  box-shadow: none;
  background: none;
  padding: 0px;
}

.error-alert {
  position: absolute;
  z-index: 100000;
  top: 5px;
  left: 5px;
  max-width: 50vw;
}