
.leaflet-container, .full-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.go-to-button {
  position: relative;
  margin-top: 5px;
  margin-left: 16px;
  float: left;
  z-index: 401;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-content-wrapper {
  box-shadow: none;
  background: none;
  padding: 0px;
}

.error-alert {
  position: relative;
  margin-top: 12px;
  margin-right: 12px;
  width: auto;
  float: right;
  z-index: 999;
  width: 50vw;
}

.leaflet-control-zoom {
  margin-bottom: 60px !important;
}

.navbar-collapse > .form-inline {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-inline > input {
  flex-grow: 1;
}

.form-inline > button {
  flex-grow: 1;
  max-width: 300px;
}

.navbar-brand {
  font-weight: bold;
}